data/
output/
kmer_method/csv_data

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# Spyder project settings
.spyderproject
.spyproject


