data/
output/
kmer_method/csv_data/
kmre_method/csv_data_math/*.csv

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# Spyder project settings
.spyderproject
.spyproject


saved_sklearn_models/forest.joblib
